body{
    background-color: #d0bea6 !important;
    margin: 0px;
}

.container{
    min-height: 100vh;
    background-color: #d0bea6 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size{
    width: 30px; 
    height: 30px;
}

.quiz-card{
    width: 30rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
}
.question-footer{
    border-top: 1px solid rgba(0, 0,0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.container-fluid{
    background-color: #d0bea6 !important;
    margin: 0;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end img{
    height: 360px;
    width: fit-content;
}

.endText{
    text-align: center;
}

.progress-bar{
    background-color: #d0bea6  !important;
    color: white !important;
    border-radius: 4px;
}

button {
    width: 100%;

}

@media(max-width:400px){

    .container{
        padding: 0 !important;
    }
}

